*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}  
html,
body {
  font-family: sans-serif; 
}
main{
    margin-top: 100px;
}
a,a:hover{
    text-decoration: none;   
    color: black;
}
.text-white{
    color: #fff;
}
li{
    padding-top: 2%;
    padding-bottom: 2%;
}
.navbar-color{
    background-color: #133e54;
}
.nav-text{
    color: #fff;
}
.padding-nav{
    padding: 1%;
    padding-right: 6%;
    padding-left: 6%;
}
.carousel-nav-icon {
    height: 28px;
    width: 28px;
 }
.carousel-item
.col, .col-sm, .col-md {
       margin: 8px;
       height: 300px;
       background-size: contain;
       background-position: center center;
}
.icon{
    font-size: 1.5em;
    color: white; 
}
.iconsearch{
    font-size: 1.3em;
    color: white; 
}
.inputradius{
    border-radius:50px;
    -moz-border-radius:50px; /* Firefox 3.6 and earlier */
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2%;
    background-color: rgb(219, 219, 219);
}
.deck{
    margin-right: 2%;
}
.space{
    margin-bottom: 15%;
}
.space-title{
    padding: 1%;
    width: 100%;
    text-align: center;
    color: white;
    background: #133E54;
    background: linear-gradient(45deg, #133E54 5%, #133e54 100%);
}
.button-center{
    margin-top: 2%;
    text-align: center;
}
.btn-size{
    font-size: 28px;
}
.btn-center{
    align-items: center;
}
.btn-color,.btn-color:hover{
    color:#133e54;
}
.btn-color-back{
    background-color: #133e54;
    color: #fff;
    
}
.button-right{
    float: right;
}
.loginpadding{
    padding-left: 30%;
    padding-right: 30%;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
.center{
    text-align: center;
}
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  